.setting-container {
    /* height: 15em; */
    position: relative;
    z-index: 9999;
    background-color: #222;
    color: #eee; 
    padding: 1em;
    margin-top: 1em;
    box-shadow: 0px -5px 15px #0004;
}
.settings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em;
}
.settings-column {
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.settings textarea, .settings select, .settings input {
    border: none;
    border-radius: 5px;
    padding: 3px;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}
.settings ::placeholder {
    color: #888;
}
.slider {
    -webkit-appearance: none;
    transition: all 0.3s;
    background: #333;
    border-radius: 100vw !important;
    height: 5px;
    padding: 10px 3px 11px 3px !important;
    margin-top: 6px;
    transition: all 0.5s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100vw;
    background: #4285F4;
    cursor: pointer;
    transition: all 0.5s;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4285F4;
    cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
    background: #8db9ff;
}
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 20px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgb(73, 73, 73);
    border-radius: 3px;
    transition: all 0.3s;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgb(107, 107, 107);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    transform: scale(0.2) rotate(5deg);
    transition: all 0.5s;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
    transform: scale(1) rotate(45deg);
    opacity: 1;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
      width: 5px;
      height: 10px;
    left: 5px;
    top: 2px;
    border: solid white;
    border-width: 0 2px 2px 0;
    opacity: 0;
    -webkit-transform: scale(0.2) rotate(5deg);
    -ms-transform: scale(0.2) rotate(5deg);
    transform: scale(0.2) rotate(5deg);
  }