.setting-container {
    /* height: 15em; */
    position: relative;
    z-index: 9999;
    background-color: #222;
    color: #eee; 
    padding: 1em;
    margin-top: 1em;
    box-shadow: 0px -5px 15px #0004;
}
.settings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em;
}
.settings-column {
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.settings textarea, .settings select, .settings input {
    border: none;
    border-radius: 5px;
    padding: 3px;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}
.settings ::placeholder {
    color: #888;
}
.slider {
    -webkit-appearance: none;
    transition: all 0.3s;
    background: #333;
    border-radius: 100vw !important;
    height: 5px;
    padding: 10px 3px 11px 3px !important;
    margin-top: 6px;
    transition: all 0.5s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100vw;
    background: #4285F4;
    cursor: pointer;
    transition: all 0.5s;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4285F4;
    cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
    background: #8db9ff;
}